body {
    background: lavender;
    font-family: 'Josefin Sans';

    background: linear-gradient(270deg, #dcbbff, #ffbbec, #bbe8ff);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 39s ease infinite;
    -moz-animation: AnimationName 39s ease infinite;
    animation: AnimationName 39s ease infinite;

    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    max-width: 700px;
    margin: 200px auto;
}

.header {
    margin: 100px auto;
    margin-bottom: 100px;
    width: fit-content;
    text-align: center;
}

.header img {
    height: 300px;
    width: 300px;
}

article.post {
    line-height: 1.2rem;
}

article.post h2 {
    margin-top: 50px;
}

article.post img {
    height: 400px;
    display: block;
    margin: 10px auto;
    margin-bottom: 30px;
    transition: height 2s;
}

.back {
    margin: 100px auto;
    display: block;
    width: fit-content;
}

#link-lists {
    display: flex;
    justify-content: space-around;
}

#link-lists ul {
    padding-left: 20px;
    line-height: 1.2rem;
}

a {
    color: black;
    padding: 5px;
    transition: color .5s, background-color .5s;
}

a:hover {
    background: black;
    color: #dcbbff;
}

footer {
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

footer a {
    color: white;
}


/* animated gradient from https://www.gradient-animator.com/ */
@-webkit-keyframes AnimationName {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 51%; }
    100% { background-position: 0% 50%; } 
}
  
@-moz-keyframes AnimationName {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 51%; }
    100% { background-position: 0% 50%; } 
}
  
@keyframes AnimationName {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 51%; }
    100% { background-position: 0% 50%; } 
}

@media (max-width: 720px) {
    body {
        font-size: 18px;
    }

    main {
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    
    article.post {
        line-height: 1.5rem;
    }

    article.post img {
        width: 100%;
        display: block;
        margin: 10px auto;
        transition: height 2s;
    }

    #link-lists {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    #link-lists article {
        width: 290px;
    }

    #link-lists ul {
        padding-left: 20px;
        line-height: 1.5rem;
    }

    footer {
        font-size: 16px;
        line-height: 1.5rem;
    }
}