@import './base.css';

#app {
  max-width: 1080px;
  padding: 2rem;
  
  font-weight: normal;
}

.landing {
  margin: 35% auto 0;
}

section {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
}

h1, h2 {
  margin: 1.75rem 0 1.05rem;
}

h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: .65rem;
}

a {
  text-decoration: underline;
  text-decoration-style: wavy;
  color: var(--color-text);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    padding-left: 4px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
}

.sj-logo {
  height: 100px;
  width: 100px;
  border: solid 2px black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: .5rem .5rem;
  line-height: 2rem;
}